<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card">
        <div class="card-header">
          <h1 class="text-center">Cadastro de Estudantes</h1>
        </div>
        <div class="card-body">
          <form [formGroup]="formEstudante" novalidate class="form">
            <div class="form-group">
              <label for="id">ID:</label>
              <input type="number" formControlName="id" name="id" id="id" class="form-control">
            </div>
            <div class="form-group">
              <label for="nome">NOME:</label>
              <input type="text" formControlName="nome" name="nome" id="nome" class="form-control">
            </div>
            <div class="form-group">
              <label for="sobrenome">SOBRE NOME:</label>
              <input type="text" formControlName="sobrenome" name="sobrenome" id="sobrenome" class="form-control">
            </div>
            <div class="form-group">
              <label for="email">NOME:</label>
              <input type="email" formControlName="email" name="email" id="email" class="form-control">
            </div>
            <button class="btn btn-primary mt-4" (click)="store()">Salvar</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
