<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card">
        <div class="card-header">
          <h1 class="text-center">Listagem de Estudantes</h1>
        </div>
        <div class="card-body">
          <table class="table">
            <thead>
              <tr>
                <th>Nome</th>
                <th>Sobre Nome</th>
                <th>Email</th>
                <th>Opções</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let estudante of estudantes">
                <td>{{ estudante.nome }}</td>
                <td>{{ estudante.sobrenome }}</td>
                <td>{{ estudante.email }}</td>
                <td>
                  <a class="btn btn-primary btn-sm" routerLink="/edit/{{estudante.id}}">Editar</a> &nbsp;
                  <a class="btn btn-danger btn-sm" (click)="remover(estudante.id)">Remover</a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
