<div class="container py-5">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Nome</th>
            <th>Sobre Nome</th>
            <th>Email</th>
            <th>Opções</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let estudante of estudantes">
            <td>{{ estudante.nome }}</td>
            <td>{{ estudante.sobrenome }}</td>
            <td>{{ estudante.email }}</td>
            <td>
              <a href="#" class="btn btn-info">Editar</a> &nbsp;
              <a href="#" (click)="remover(estudante.id)" class="btn btn-dark">Remover</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
